[project]
	description = skaner 3d
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paweł Stawicki (stawel)
[access "refs/for/refs/*"]
	read = group user/Paweł Stawicki (stawel)
	push = group user/Paweł Stawicki (stawel)
	label-Code-Review = -2..+2 group user/Paweł Stawicki (stawel)
	label-Verified = -1..+1 group user/Paweł Stawicki (stawel)
	rebase = group user/Paweł Stawicki (stawel)
	removeReviewer = group user/Paweł Stawicki (stawel)
	submit = group user/Paweł Stawicki (stawel)
[access "refs/heads/*"]
	read = group user/Paweł Stawicki (stawel)
	create = group user/Paweł Stawicki (stawel)
	push = +force group user/Paweł Stawicki (stawel)
	pushMerge = group user/Paweł Stawicki (stawel)
[access "refs/tags/*"]
	push = +force group user/Paweł Stawicki (stawel)
	pushTag = group user/Paweł Stawicki (stawel)
	pushSignedTag = group user/Paweł Stawicki (stawel)
